<form action="/cart">
    <input type="text" name="id" value="{{this.id}}">
    <input type="text" name="name" value="{{this.name}}">
    <input type="text" name="description" value="{{this.description}}">
    <input type="text" name="price" value="{{this.price}}">
    <input type="text" name="image" value="{{this.image}}">
    <button type="submit">ADD TO CART</button>
</form>
