<div class="card h-70">
  <div class="card-body">
    <h4 class="card-title">{{name}}</h4>
  </div>
  <img src="{{image}}" class="card-img-top" alt="{{name}}">
  <div class="card-body">
    <p class="card-text">{{description}}</p>
  <hr>
    <h5>${{price}}</h5> 
    <h6><a href="/category{{category}}/details/{{id}}" class="card-link link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">View</a></h6>
</div>
</div>