<div class="row owl-theme owl-carousel owl-products">
    {{#each featuredProducts}}
    <div class="card">
        <img src="{{image}}" class="card-img-top" alt="{{name}}">
        <div class="card-body">
            <h4 class="card-title">{{name}}</h4>
            <h5>${{price}}</h5>
            <h6><a href="/category{{category}}/details/{{id}}" class="card-link">View</a></h6>
        </div>
    </div>
    {{/each}}
</div>