<!-- Nav Pills -->
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  {{#each data.services}}
  <li class="nav-item" role="presentation">
    <button class="nav-link {{#if @first}}active{{/if}}" id="pills-tab-{{@index}}" data-bs-toggle="pill" data-bs-target="#pills-content-{{@index}}" type="button" role="tab" aria-controls="pills-content-{{@index}}" aria-selected="{{#if @first}}true{{else}}false{{/if}}">
      {{this.title}}
    </button>
  </li>
  {{/each}}
</ul>

<!-- Tab Content -->
<div class="tab-content" id="pills-tabContent">
  {{#each data.services}}
  <div class="tab-pane fade {{#if @first}}show active{{/if}}" id="pills-content-{{@index}}" role="tabpanel" aria-labelledby="pills-tab-{{@index}}">
    <div class="row">
      <div class="col-8">
        <p>{{this.intro}}</p>
        <ul>
          {{#each this.list}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="col-4">
        {{#if this.image}}
        <img class="img-fluid" src="{{this.image}}" alt="">
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
